.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding: 1rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &>* {
    padding: 1rem;
  }

  .canvas_section {
    width: 80%;
    height: 100%;
    overflow: hidden;
  }

  .agent_aside {
    width: 20%;
    height: 100%;
    overflow: hidden;
  }
}